<section class="about section flex jc-center al-center" id="about">
  <div class="container">
    <div nz-row>
      <div class="col-lg-7 col-md-12 col-12 flex al-center" nz-col nzSpan="12" nzLg="14">
        <div class="about-text">
          <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
          <h1 class="animated animated-text">
            <span class="mr-2">Hey folks, I'm</span>
            <div class="animated-info">
              <span class="animated-item">Hieu Vo</span>
              <span class="animated-item">Developer</span>
              <span class="animated-item">DevOps</span>
            </div>
          </h1>

          <p>I'm a full-stack developer, specializing in
            the field of back-end and DevOps. I am committed
            to continuous learning and advancing current
            software engineering practices.
          </p>

          <div class="custom-btn-group mt-4">
            <a class="custom-btn">Download Resume <span nz-icon nzType="download" nzTheme="outline"></span></a>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12 col-12" nz-col nzSpan="12" nzLg="10">
        <div class="about-image svg">
          <img src="assets/images/about.svg" class="img-fluid" alt="svg image">
        </div>
      </div>

    </div>
  </div>
</section>