<section class="about section flex jc-center al-center" id="about">
  <div class="container">
    <div nz-row>
      <div class="flex al-center about-text" nz-col [nzMd]="14" [nzXs]="24">
        <div>
          <small class="small-text">Welcome to <span>my portfolio website!</span></small>
          <h1 class="animated animated-text">
            <span class="animated-default">Hi everyone, I'm</span>
            <div class="animated-info">
              <span class="animated-item">Hieu Vo</span>
              <span class="animated-item">Developer</span>
              <span class="animated-item">DevOps</span>
            </div>
          </h1>

          <p class="introduce-text">I'm a full-stack developer, specializing in
            the field of back-end and DevOps. I am committed
            to continuous learning and advancing current
            software engineering practices.
          </p>
          <p class="introduce-text">“Share to learn and learn to share”</p>

          <div class="custom-btn-group">
            <a href="https://s3.ap-southeast-1.amazonaws.com/portfolio.hvtauthor.com/HieuVoTrung_CV.pdf" target="_blank"
              class="custom-btn">Download Resume <span nz-icon nzType="download" nzTheme="outline"></span></a>
          </div>
        </div>
      </div>

      <div class="about-image" nz-col [nzMd]="10" [nzXs]="24">
        <div>
          <img src="assets/images/about.svg" class="img-fluid" alt="svg image">
        </div>
      </div>

    </div>
  </div>
</section>