.navbar {
  border-bottom: 1px solid #dedede;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar.show-fixed {
  position: fixed;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  animation-name: showNavbarFixed;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.header {
  min-height: 70px;
}

.header .push-menu i {
  font-size: 25px;
}

.header .logo,
.header .push-menu {
  height: 100%;
}

.header .logo img {
  outline: none;
  cursor: pointer;
}

.navigation-options ul li {
  padding: 0 25px;
  font-size: 15.5px;
}

.navigation-options ul li.active {
  color: #ffc107;
}

.navigation-options ul li {
  height: 70px;
  outline: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .header .logo {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .header .push-menu i {
    font-size: 20px;
  }
}

@keyframes showNavbarFixed {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
