.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}
.timeline-wrapper:last-child:before {
  height: 0;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  /* max-width: 432px; */
  margin-left: 6em;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}
h3,
b,
strong {
  font-weight: bold;
  font-size: 1.75rem;
  color: #484848;
}

.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.experiences,
.educations {
  flex-direction: column;
  align-items: start;
}

.educations .educations-logo {
  position: absolute;
}

.educations .major {
  font-size: 18px;
  font-weight: bold;
}

.educations .timeline-info {
  margin-left: 7em;
}
