<section class="resume section flex jc-center al-center" id="resume">
  <div class="container">
    <div nz-row>
      <div class="col-lg-7 col-md-12 col-12 flex experiences" nz-col [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24">
        <div class="title">
          <h2 class="section-title">Experiences</h2>
        </div>
        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2023</span>
            </div>
            <div class="timeline-info">
              <h3><span>Junior .Net Developer<small>FPTSoftware</small></span></h3>
              <p>July 2021 - Present</p>
              <p>Troubleshot and resolved performance issues for
                databases and software.
                Researched and integrated design strategies,
                product specifications, development schedules
                and user expectations into product capabilities.
                Contributed ideas and suggestions in team
                meetings and delivered updates on deadlines,
                designs, and enhancements.
              </p>
            </div>
          </div>
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2020</span>
            </div>
            <div class="timeline-info">
              <h3><span>Fresher .Net Developer<small>Sorimachi Viet Nam</small></span></h3>
              <p>June 2020 - December 2020</p>
              <p>Corrected, modified and upgraded software to improve performance.
                Authored code fixes and enhancements for inclusion in future code releases and patches.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="educations col-lg-7 col-md-12 col-12 flex" nz-col [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24">
        <div class="title">
          <h2 class="section-title">Educations</h2>
        </div>
        <div class="timeline">
          <div class="educations-logo">
            <img height="70px" src="assets/images/logo-UIT.png" alt="">
          </div>
          <div class="timeline-info">
            <h3>University of Information Technology</h3>
            <h4 class="major">Bachelor of Information System</h4>
            <p>July 2017 - July 2021</p>
            <p>Develop research to enhance knowledge exploitation from databases, manage large data warehouses, search
              for information on the web, semantic search, and social networks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>